PRIA/Archivos_txt*
PRIA/__pycache__*
SAPA/Ejercicios/datos/titanic_random_sample.csv
.vscode/*
SAPA/Ejercicios/tensorflow_datasets/*
SAPA/Ejercicios/datos/Standford-dogs/*
SAPA/Ejercicios/Resultados/*
*.mp4
*.pt
sam2/*
BIGD/Spark/Datos/stocks_price_final.csv
BIGD/Spark/Datos/movies.tsv
BIGD/Spark/Datos/salesdata/*
SAPA/Ejercicios/tokenizers/*
SAPA/Ejercicios/modelos/*
Exámenes/SAPA-2/yolo11s.pt
SAPA/6.8_Proyecto_RAG/Teoria/*